*
{
	margin: 0;
	padding: 0;
	position: absolute;
	user-select: none;
}

body
{
	overflow: hidden;
}

button
{
	height: 64px;
	left: 50vw;
	top: calc(100vh - 64px);
	text-align: center;
	width: 50vw;
}

canvas
{
	height: 100vh;
	width: 50vw;
}

html
{
	height: 100vh;
	width: 100vw;
}

textarea
{
	height: calc(100vh - 64px);
	left: 50vw;
	overflow-x: scroll;
	overflow-y: scroll;
	resize: none;
	width: 50vw;
}
